<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Admin </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/admin/list-product">Sản phẩm</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/add-product">Thêm sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/list-product">Thêm sửa xóa </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container p-5">
      <h1 class="text-center">Edit Sản Phẩm</h1>
      <form
        action="/admin/update-product/<%= dataProduct.idProduct %>"
        method="POST"
        enctype="multipart/form-data"
        class="form"
      >
        <div class="form-group">
          <label for="title">Tiêu đề sản phẩm:</label>
          <input
            type="text"
            id="productName"
            name="productName"
            class="form-control"
            value="<%= dataProduct.nameProduct %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Mô tả sản phẩm:</label>
          <textarea
            id="description"
            name="description"
            class="form-control"
            value="<%= dataProduct.sortDescription %>"
            required
          >
<%= dataProduct.sortDescription %></textarea
          >
        </div>
        <div class="form-group">
          <label for="price">Giá sản phẩm:</label>
          <input
            type="number"
            id="price"
            name="price"
            value="<%= dataProduct.priceProduct %>"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="image">Ảnh sản phẩm:</label>
          <input
            type="file"
            id="image"
            name="productImage"
            value="<%= dataProduct.images %>"
            class="form-control-file"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Edit sản phẩm</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
